.vote {
  width: 95%;
  max-width: 25rem;
  margin: 0 auto;
  background-color: aquamarine;
}
.vote h1 {
  text-align: center;
}
.vote div {
  padding: 0.25rem;
  text-align: center;
}
.actions {
  display: flex;

  justify-content: center;
}
